<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjzrDvLcu9Lq8LO-F7wcnvW5a8U7O5aDk</string>
	<key>GCM_SENDER_ID</key>
	<string>985907355450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.orbital</string>
	<key>PROJECT_ID</key>
	<string>orbital6532</string>
	<key>STORAGE_BUCKET</key>
	<string>orbital6532.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985907355450:ios:65a478cbe84dd83ddc3a03</string>
</dict>
</plist>